// @font-face {
//     font-family: "SF Regular";
//     src: url("/font/System San Francisco Display Regular.ttf");
// }
// @font-face {
//     font-family: "SF Bold";
//     src: url("/font/System San Francisco Display Bold.ttf");
// }
// @font-face {
//     font-family: "TG Bold";
//     src: url("/font/TradeGothic-Bold.ttf");
// }
// @font-face {
//     font-family: "TG CondEighteen";
//     src: url("/font/TradeGothic-CondEighteen.ttf");
// }
// @font-face {
//     font-family: "TG LightOblique";
//     src: url("/font/TradeGothic-LightOblique.ttf");
// }

$def-font-stack : 'Montserrat', sans-serif;
$default-back   : #221D23;
$base-color		: #3d8fb1;

$header-height	: 80px;

$sea-color		: #D4DADC;
$land-color		: #FAFAF8;
$border-color	: #001427;

$prov-active	: #004e79;
