#map-wrapper {
	height: 100%; width: 100%;
	svg#map-viz {
		rect#background { fill: none; pointer-events: all; }
		path { stroke: #eee; &.unintended { fill: $default-back!important; }}
		text { fill: white; @include noselect(); }

		g#canvas { text { text-anchor: middle; } }
		g#slider-wrapper { circle { fill: white; } path { fill: white; stroke: white; } }
	}

	$colors	: #fff7a8 #dcd99f #a1a68d #8a9287 #7a8482 $default-back;
	@each $color in $colors {
		$i: index($colors, $color);
		.color-#{$i} { fill: $color; &:before { background-color: $color; }}
	}
}
