#map-wrapper {
	height: calc(100% - #{$header-height}); width: 100%; position: relative; display: inline-block;
	svg#map-viz {
		rect#background { fill: none; pointer-events: all; }
		path { stroke: #eee; fill-opacity: .75; &.unintended { fill: $default-back!important; }}
		text { fill: white; @include noselect(); }

		g#canvas { text { text-anchor: middle; } }
		g#slider-wrapper { circle { fill: white; &:last-child { cursor: default!important; } } path { fill: white; stroke: white; } }
	}

	$colors	: #fff7a8 #dcd99f #a1a68d #8a9287 #7a8482 $default-back;
	@each $color in $colors {
		$i: index($colors, $color);
		.color-#{$i} { fill: $color; &:before { background-color: $color; }}
	}

	#slider-tooltip {
		position: absolute; padding: 5px 15px 7.5px; background: white; border-radius: 3px;
		top: 0px;
		&:after {
			content: " "; top: 100%; left: 50%; border: solid transparent;
			height: 0; width: 0; position: absolute; pointer-events: none;
			border-color: rgba(white, 0); border-top-color: white;
			border-width: 7.5px; margin-left: -7.5px;
		}
	}
}
