// @import "compass/css3";

@import "helpers/statics";
@import "helpers/mixins";

@import "components/charts/pie";
@import "components/charts/radar";
@import "components/charts/bar";

@import "components/header";
@import "components/map";
@import "components/sidebar";

a { cursor: pointer; text-decoration: none; color: black; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
img { max-width: 100%; height: auto; }
textarea { resize: none; }
input { -webkit-appearance: none; -moz-appearance: none; box-shadow: none; outline: none; }
input[type=number] { -moz-appearance:textfield; }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
*:focus, select { outline: none!important; }
.bold { font-weight: 700 !important; }
.uppercase { text-transform: uppercase !important; }
.capitalize { text-transform: capitalize!important; }
.float-left { float: left!important; display: inline-block; }
.float-right { float: right!important; display: inline-block; }
.align-left { text-align: left!important; }
.align-right { text-align: right!important; }
.align-center { text-align: center!important; }
.force-middle { margin: auto!important; float: none!important; display: block!important; }
.cursor-default { cursor: default; @include noselect(); }
.cursor-pointer { cursor: pointer; @include noselect(); }
.noselect { @include noselect(); }
.nopadding { @include nopadding(); }
.hidden { display: none!important; }
html, body, body > div#root {
	width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: hidden; font-family: $def-font-stack; font-size: 9px;
	-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: white;
}
div#root {
    background: $default-back; position: relative;
	#logo-wrapper {
		position: fixed; left: 20px; bottom: 10px; width: 175px; z-index: 90;
		img { display: inline-block; }
		img:first-child { float: left; width: 49%;  }
		img:last-child { float: right; width: 45%;  }
	}
}
div#loading {
	position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 90; background: rgba(black, .6);
	align-items: center; display: flex; justify-content: center;
	svg#mini-loader {
		height: 75px; width: 75px;
		path { fill: white; }
		#b0 { animation: b0 4s infinite ease; transform-origin: 250px 250px; }
		#b1 { animation: b1 4s infinite ease; }
		#b2 { animation: b2 4s infinite ease; }
		#b3 { animation: b3 4s infinite ease; }
		#b4 { animation: b4 4s infinite ease; }

		@keyframes b0 {
			0% { @include transform(rotate(0)); }
			25% { @include transform(rotate(-90deg)); }
			50% { @include transform(rotate(-180deg)); }
			75% { @include transform(rotate(-270deg)); }
			100% { @include transform(rotate(-360deg)); }
		}

		@keyframes b1 {
			0% { @include transform(translate(0, 0)); }
			25% { @include transform(translate(0, 355px)); }
			50% { @include transform(translate(355px, 355px)); }
			75% { @include transform(translate(355px, 0)); }
			100% { @include transform(translate(0, 0)); }
		}

		@keyframes b2 {
			0% { @include transform(translate(0, 0)); }
			25% { @include transform(translate(-355px, 0)); }
			50% { @include transform(translate(-355px, 355px)); }
			75% { @include transform(translate(0, 355px)); }
			100% { @include transform(translate(0, 0)); }
		}

		@keyframes b3 {
			0% { @include transform(translate(0, 0)); }
			25% { @include transform(translate(0, -355px)); }
			50% { @include transform(translate(-355px, -355px)); }
			75% { @include transform(translate(-355px, 0)); }
			100% { @include transform(translate(0, 0)); }
		}

		@keyframes b4 {
			0% { @include transform(translate(0, 0)); }
			25% { @include transform(translate(355px, 0)); }
			50% { @include transform(translate(355px, -355px)); }
			75% { @include transform(translate(0, -355px)); }
			100% { @include transform(translate(0, 0)); }
		}
	}
}
