$vPad		: 15px;
$hPad		: 50px;

$first_clr	: #006aa5;
$second_clr	: #1F3257;

$splash_clr	: #006fac;

#header {
	width: calc(100% - #{$hPad * 2}); height: #{$header-height - ($vPad * 2)}; display: inline-block; padding: #{$vPad} #{$hPad}; overflow: visible; position: relative;
	#logo {
		width: 90px; height: 80px; word-spacing: 120px; padding: 20px 15px; border-radius: 2px;
		color: white; font-size: 18px; font-weight: 700; line-height: 20px; span { color: #37d1fa; }
		cursor: default; display: inline-block; float: left; position: relative; z-index: 90; left: $hPad; @include noselect();
		background: #{$first_clr}; background: -moz-linear-gradient(top, #{$first_clr} 0%, #{$second_clr} 100%); background: -webkit-linear-gradient(top, #{$first_clr} 0%,#{$second_clr} 100%); background: linear-gradient(to bottom, #{$first_clr} 0%,#{$second_clr} 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$first_clr}', endColorstr='#{$second_clr}',GradientType=0 );
	}

	#drops-wrapper {
		width: 600px; height: 100%; display: inline-block; float: right; text-transform: uppercase;
		.dropdown {
			width: 30%; margin: 0 1.5%; display: inline-block; position: relative; z-index: 90;
			border-bottom: 4px solid $splash_clr; border-radius: 2px;
			float: right;
			// img { display: inline-block; float: left; width: 10%; position: absolute; top: 50%; left: 1.3%; transform: translateY(-50%); color: white; }
			svg {
				fill: white; height: auto; position: absolute; display: block; top: 50%; transform: translateY(-50%);
				&.icons { width: 26px; left: 0; }
				&.arrow { width: 10px; right: 5px; }
			}
			div { font-size: 10px; line-height: #{$header-height - ($vPad * 2)}; width: 68%; padding: 0 30px; font-weight: bolder; }
		}
	}

}

.jq-dropdown > div { border: none; @include clearfix(); }
.jq-dropdown {
	div.jq-dropdown-panel, ul.jq-dropdown-menu { background: #eee; border: none; }
	&::before, &::after { border-bottom-color: #eee!important; }
	ul {
		max-height: 350px; overflow: auto!important;
		li { color: black; &:hover { background: $splash_clr; color: white; } }
	}
}
#dropdown-filter {
	li:not(.group):not(.toggler) { padding-left: 30px; }
	li.group {  }
}
#dropdown-region {
	li { padding: 2px 20px; }
}
#dropdown-base {
	li, li:hover  {
		label > svg { stroke: transparent; transition: none; }
		input:checked + label > svg { path, polyline { transition: none; } }
	}
}
#dropdown-network {
	ul { overflow: hidden!important; }
}
#dropdown-filter, #dropdown-base, #dropdown-network {
	li {
		padding: 2px 15px 5px;
		input {display: none; }
		label, span { display: inline-block; }
		label {
			position: relative; width: 18px; height: 18px; -webkit-tap-highlight-color: transparent; transform: translate3d(0,0,0); padding: 0 10px 0 0; top: 5px;
			&:before { content: ""; position: absolute; top: -15px; left: -15px; width: 48px; height: 48px; border-radius: 50%; background: rgba(#223254,.03); opacity: 0; transition: opacity .2s ease; }
			svg {
				position: relative; z-index: 1; fill: none; stroke-linecap: round; stroke-linejoin: round; stroke: $splash_clr; stroke-width: 1.5; transform: translate3d(0,0,0); transition: all .2s ease;
				path { stroke-dasharray: 60; stroke-dashoffset: 0; }
				polyline { stroke-dasharray: 22; stroke-dashoffset: 66; }
			}
			&:hover { background-color: transparent; }
		}
		input:checked + label {
			svg {
				stroke: $splash_clr; background: transparent!important;
				path { stroke-dashoffset: 60; transition: all .3s linear; }
				polyline { stroke-dashoffset: 42; transition: all .2s linear; transition-delay: .15s; }
			}
		}
		&:hover {
			label { svg { stroke: white!important; } }
			input:checked + label > svg { stroke: white; }
		}
		&.toggler { padding-left: 35px; text-transform: uppercase; font-weight: bolder; }
	}
}
