#map-wrapper {
	height: calc(100% - #{$header-height}); width: 100%; position: relative; display: inline-block; background: $sea-color;
	svg#map-viz {
		rect#background { fill: none; pointer-events: all; }
		text { fill: black; @include noselect(); }
		path {
			stroke: $border-color; fill-opacity: 1;
			&.unintended { fill: $default-back!important; fill-opacity: .15; }
			&.seethrough { fill: transparent!important; }
		}
		g#wrapped-background { path { fill: $default-back!important; stroke: none; fill-opacity: .15; } }
		g#wrapped-background.reverse { path { fill: $land-color!important; stroke: none; fill-opacity: 1; } }
		g#canvas {
			text { text-anchor: middle; }
			g.network {
				path { stroke: none; fill-opacity: 1; }
			}
			g.wrapper {
				path.default-clr { fill: $land-color; }
			}
			g.pin-wrapper {
				path { stroke: none; }
			}
		}
		g#slider-wrapper { circle { fill: white; &:last-child { cursor: default!important; } } path { fill: white; stroke: white; } }
		g#legend-container {
			text#legend-title { fill: black; }
			g#boxes-wrapper { text { fill: white; } }
			rect#ceiling { fill: #000; fill-opacity: .1; }
			rect#floor { fill: $default-back; fill-opacity: .75; }
		}
		g#ruler { path { fill: black; stroke: black; } }

		g#inset-wrapper {
			rect#inset-background { fill: $sea-color; stroke: $border-color; stroke-width: 1px; }
			g#inset-map {
				path { fill: $land-color; stroke: $sea-color; &.active { fill: $prov-active; } }
			}
		}

		g#legend-wrapper {
			path { stroke: none; }
		}
	}

	// $colors	: #fff7a8 #dcd99f #a1a68d #8a9287 #7a8482 transparent;
	// @each $color in $colors {
	// 	$i: index($colors, $color);
	// 	.color-#{$i} { fill: $color; &:before { background-color: $color; }}
	// }

	#slider-tooltip {
		position: absolute; padding: 5px 15px 7.5px; background: white; border-radius: 3px; color: black;
		top: 0px;
		&:after {
			content: " "; top: 100%; left: 50%; border: solid transparent;
			height: 0; width: 0; position: absolute; pointer-events: none;
			border-color: rgba(white, 0); border-top-color: white;
			border-width: 7.5px; margin-left: -7.5px;
		}
	}
}
